//= templates/header.html
//= templates/navbar.html
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <caption>Files</caption>
        <thead>
        <tr>
          <th>#</th>
          <th>Folder</th>
          <th>Title</th>
          <th>Size</th>
          <th>Parts</th>
          <th>Downloads</th>
          <th>Exchangers</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a>domain.com</a>/<a>games</a>/<a>23042015</a></td>
          <td><a>big_movie.apk</a></td>
          <td>123.32 mb</td>
          <td>6</td>
          <td>234</td>
          <td>6/9</td>
          <td>Uploading</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a>domain.com</a>/<a>games</a>/<a>23042015</a></td>
          <td><a>big_movie.apk</a></td>
          <td>123.32 mb</td>
          <td>6</td>
          <td>234</td>
          <td>6/9</td>
          <td>Uploading</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a>domain.com</a>/<a>games</a>/<a>23042015</a></td>
          <td><a>big_movie.apk</a></td>
          <td>123.32 mb</td>
          <td>6</td>
          <td>234</td>
          <td>6/9</td>
          <td>Uploading</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a>domain.com</a>/<a>games</a>/<a>23042015</a></td>
          <td><a>big_movie.apk</a></td>
          <td>123.32 mb</td>
          <td>6</td>
          <td>234</td>
          <td>6/9</td>
          <td>Uploading</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a>domain.com</a>/<a>games</a>/<a>23042015</a></td>
          <td><a>big_movie.apk</a></td>
          <td>123.32 mb</td>
          <td>6</td>
          <td>234</td>
          <td>6/9</td>
          <td>Uploading</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a>domain.com</a>/<a>games</a>/<a>23042015</a></td>
          <td><a>big_movie.apk</a></td>
          <td>123.32 mb</td>
          <td>6</td>
          <td>234</td>
          <td>6/9</td>
          <td>Uploading</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <footer>
    <p>© 2015 Company, Inc.</p>
  </footer>
</div>
//= templates/footer.html
